@import "tailwindcss";

@theme {
  --color-brand-dark: #181818;
  --color-brand-yellow: #ffd480;
  --color-brand-pink: #ff9393;
  --color-brand-green: #c8ccc2;
  --color-brand-cream: #fbfaf8;

  --font-sans: "SF Pro Display", -apple-system, sans-serif;
}

/* Custom base styles */
@layer base {
  html {
    font-size: 16px;
  }

  body {
    line-height: 1.7;
    @apply font-sans;
  }
}

/* Custom utility styles */
@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
